<mat-toolbar color="primary">
    <span> <a routerLink="/"> POSTiT </a> </span>
    <span class="space"></span>
    <ul>
        <li *ngIf="isAuthenticated"> <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a> </li>
        <li *ngIf="!isAuthenticated"> <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a> </li>
        <li *ngIf="!isAuthenticated"> <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">SignUp</a> </li>
        <li *ngIf="isAuthenticated"> <button mat-button (click)="onLogout()"> Logout </button> </li>
    </ul>
</mat-toolbar>
